<mat-card class="card">
    <mat-card-content>
      <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-label style="text-align: center; margin-bottom: 10px;">Registro</mat-label>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre" type="text" id="nombre" formControlName="nombre"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Apellidos" type="text" id="apellidos" formControlName="apellidos"/>
        </mat-form-field> 
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Correo" type="email" id="correo" formControlName="correo"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rol</mat-label>
          <mat-select id="rol" formControlName = "rol">
            <mat-option *ngFor="let rol of roles" [value]="rol.rol" >
              {{ rol.rol }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button color="warn" type="submit">Actualizar</button>  
      </form>
    </mat-card-content>
  </mat-card>