    <mat-toolbar color="warn">
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['login']">
          <mat-icon>login</mat-icon>
          <span>Iniciar Sesion</span>
        </button>
        <button mat-menu-item [routerLink]="['formulario']">
          <mat-icon>person_add</mat-icon>
          <span>Registrarse</span>
        </button>
      </mat-menu>
      <span>Bienvenido</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" [routerLink]="['login']">
        <mat-icon>login</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" [routerLink]="['formulario']">
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-toolbar>
<router-outlet></router-outlet>